body {
  background: rgb(248, 249, 250);
  font-family: Arial, sans-serif;
}


.btn-primary {
  background-color: rgb(28, 30, 30);
  position: absolute;
  top: 500px;
}

.profile-glyphicon {
  position: absolute;
  top: 70px;     
  right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);  
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

th {
  background-color: rgb(0, 128, 128);
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}