body {
  background: rgb(248, 249, 250);
  font-family: Arial, sans-serif;
}


.btn-primary {
  background-color: rgb(28, 30, 30);
  position: fixed;
  bottom: 20px;   
  right: 20px;
}

.filter-btn{
  background-color: rgb(20, 80, 130);
  color: white;
  border: none; 
  padding: 8px 12px;
  border-radius: 4px;
}

.profile-glyphicon {
  position: absolute;
  top: 70px;     
  right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);  
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
}

th {
  background-color: rgb(0, 128, 128);
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

.profile-form form {
  background: white;
  padding: 20px;
  width: 420px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.profile-form label {
  font-weight: bold;
}

.profile-form input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-form button {
  padding: 10px 15px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 5px;
}

.avgs {
            background:#28a745; color:white; padding:10px 15px;
            border:none; border-radius:5px; cursor:pointer;
        }   
