<!DOCTYPE html>
<html>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
<head>
    <title>Add Section</title>
</head>
<body>

<h1>Add Section</h1>

<form method="POST">
    <label>Section Number:</label><br>
    <input type="text" name="section_number" required><br><br>

    <label>Course ID:</label><br>
    <input type="text" name="course_id" required><br><br>

    <label>Semester (Fall, Spring, Summer, Winter):</label><br>
    <input type="text" name="semester" required><br><br>

    <label>Year:</label><br>
    <input type="text" name="year" required><br><br>

    <label>Building Name:</label><br>
    <input type="text" name="b_name" required><br><br>

    <label>Room Number:</label><br>
    <input type="text" name="room_number" required><br><br>

    <label>Capacity:</label><br>
    <input type="number" name="capacity"><br><br>

    <label>Days:</label><br>
    <input type="text" name="days"><br><br>

    <label>Time:</label><br>
    <input type="text" name="time"><br><br>

    <button type="submit">Add Section</button>
</form>

<a href="/admin/sections"><button>Back</button></a>

</body>
</html>
