<!DOCTYPE html>
<html>
{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
<head><title>Add Course</title></head>
<body>

<h1>Add Course</h1>

<form method="POST">
    <label>Course ID:</label>
    <input type="text" name="course_id" required><br><br>

    <label>Name:</label>
    <input type="text" name="c_name" required><br><br>

    <label>Credits:</label>
    <input type="number" name="credits" required><br><br>

    <label>Department ID:</label>
    <input type="text" name="department_id" required><br><br>

    <button type="submit">Add Course</button>
</form>

<a href="/admin/courses"><button>Back</button></a>

</body>
</html>
