<!DOCTYPE html>
<html>
<head>
    <title>Add Professor</title>
</head>
<body>

<h1>Add Professor</h1>

<form method="POST">

    <label>Professor ID:</label>
    <input type="text" name="professor_id" required><br><br>

    <label>Name:</label>
    <input type="text" name="p_name" required><br><br>

    <label>Department ID:</label>
    <input type="text" name="dept_id" required><br><br>

    <label>Salary:</label>
    <input type="number" name="salary"><br><br>

    <label>Email:</label>
    <input type="text" name="email"><br><br>

    <label>House Number:</label>
    <input type="text" name="address_houseNumber"><br><br>

    <label>Street:</label>
    <input type="text" name="address_street"><br><br>

    <label>City:</label>
    <input type="text" name="address_city"><br><br>

    <label>State:</label>
    <input type="text" name="address_state"><br><br>

    <label>Zip:</label>
    <input type="text" name="address_zip"><br><br>

    <button type="submit">Add Professor</button>
</form>

<a href="/admin/professors"><button>Back</button></a>

</body>
</html>
