<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }} (Admin)</h1>
    <a href="/logout"><button>logout</button></a>
    <a href="/admin"><button>manage courses</button></a>
    <a href="/admin"><button>manage sections</button></a>
    <a href="/admin"><button>manage classrooms</button></a>
    <a href="/admin/departments"><button>manage department</button></a>
    <a href="/admin"><button>manage students</button></a>
    <a href="/admin"><button>manage proffessors</button></a>
</body>
</html>