<!DOCTYPE html>
<html>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color:red;">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<head>
    <title>Update Profile</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">

    <style>
        body { font-family: Arial; background:#f5f6fa; padding:0px; }
        form { background:white; padding:20px; width:400px; margin:auto;
               border-radius:8px; box-shadow:0 3px 10px rgba(0,0,0,0.15); }
        label { font-weight:bold; }
        input { width:100%; padding:8px; margin:10px 0; border:1px solid #ccc; border-radius:5px; }
        button { padding:10px 15px; border:none; background:#4CAF50; color:white; border-radius:5px; }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">Administrator Portal</a>
        </div>
        <ul class="nav navbar-nav">
            
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/courses">Manage Courses</a></li>
            <li><a href="/admin/sections">Manage Sections</a></li>
            <li><a href="/admin/classrooms">Manage Classrooms</a></li>
            <li><a href="/admin/departments">Manage Departments</a></li>
            <li><a href="/admin/students">Manage Students</a></li>
            <li><a href="/admin/professors">Manage Professors</a></li>
            <li><a href="/admin/assignments">Manage assignments</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active">
                <a href="/admin/profile/update" >
                    <span class="glyphicon glyphicon-user"></span> Modify Personal Info</a></li>
  </div>
</nav>

<form method="POST">

    <label>Old Password:</label>
    <input type="password" name="old_password" required>

    <label>New Username:</label>
    <input type="text" name="username" value="{{ user.username }}" required>

    <label>New Password:</label>
    <input type="password" name="password" required>

    <button type="submit">Update</button>
</form>

<br>
<a href="/admin"><button>Back</button></a>

</body>
</html>
