<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">Instructor Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/instructor">Dashboard</a></li>
            <li><a href="/instructor/advising">Advisor</a></li>
            <li><a href="/instructor/prerequisites">Course Prerequisites</a></li>
            <li><a href="/instructor/sections">Section</a></li>
            <li class="active"><a href="/instructor/avg_grades">Average Grades</a></li>
            <li><a href="/instructor/class_avg">Class Average</a></li>
            <li><a href="/instructor/class_comparison">Class Comparison</a></li>
            <li><a href="/instructor/student_counts">Student Count</a></li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/instructor/update_profile" >
                    <span class="glyphicon glyphicon-user"></span> Profile</a>
            </li>
        </ul>
  </div>
</nav>

<h2>Average Grades by Department</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Department</th>
            <th>Average Grade</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.d_name }} ({{ row.department_id }})</td>
            <td>{{ "%.2f"|format(row.avg_grade if row.avg_grade is not none else 0) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="{{ url_for('instructor_dashboard') }}">
        <button type="submit" class="btn btn-primary">return</button>
</form>
</body>
</html>
