<head>

    <title>Class List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">Student Portal</a>
        </div>
        <ul class="nav navbar-nav">
            
            <li><a href="/student">Dashboard</a></li>
            <li><a href="/student/register">Register Classes</a></li>
            <li class="active"><a href="/student/register/class_list">Manage Classes</a></li>
            <li><a href="/student/register/final_grade">View Grades</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/student/profile" >
                    <span class="glyphicon glyphicon-user"></span> Modify Personal Info</a></li>
  </div>
</nav>
    
<h1>Your Registered Classes
    <br>
    Register and drop classes
</h1>

<h2>Filter by Semester</h2>

<form action="/student/register/class_list" method="POST" class="form-inline mb-3">
    <label for="semester" class="mr-2">Filter by Semester:</label>
    <select name="semester" id="semester" class="form-control mr-2">
        <option value="all">All Semesters</option>
        <option value="Fall" {% if selected_semester == "Fall" %}selected{% endif %}>Fall</option>
        <option value="Spring" {% if selected_semester == "Spring" %}selected{% endif %}>Spring</option>
        <option value="Summer" {% if selected_semester == "Summer" %}selected{% endif %}>Summer</option>
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>


<table border="1">
    <tr>
        <th>Section</th>
        <th>Course</th>
        <th>Semester</th>
        <th>Year</th>
        <th>Days</th>
        <th>Time</th>
        <th>Capacity</th>
        <th>Building Name</th>
        <th>Room Number</th>
        <th>Status</th>
        <th>Action</th>

    </tr>

    {% for s in registered_sections %}
    <tr>
        <td>{{ s.section_number }}</td>
        <td>{{ s.course_id }}</td>
        <td>{{ s.semester }}</td>
        <td>{{ s.year }}</td>
        <td>{{ s.days }}</td>
        <td>{{ s.time }}</td>
        <td>{{ s.capacity }}</td>
        <td>{{ s.b_name }}</td>
        <td>{{ s.room_number }}</td>


        <td>{{ s.status }}</td>


        <td>
            <form action="/student/register/drop_class" method="POST">
                <input type="hidden" name="section_id" value="{{ s.section_number }}">
                <button type="submit" class="btn btn-danger">Drop</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<br>

<h1>To Register for more classes, click <a href="/student/register">here</a></h1>   
</body>