<!DOCTYPE html>
<html>
<head>
    <title>Final Grades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">Student Portal</a>
        </div>
        <ul class="nav navbar-nav">
            
            <li><a href="/student">Dashboard</a></li>
            <li><a href="/student/register">Register Classes</a></li>
            <li><a href="/student/register/class_list">Manage Classes</a></li>
            <li class="active"><a href="/student/register/final_grade">View Grades</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/student/profile" >
                    <span class="glyphicon glyphicon-user"></span> Profile</a></li>
  </div>
</nav>
    
    <h1> Final grades for {{session.username}} </h1>

    <table border ="1">
        <tr>
            <th>Section</th>
            <th>Course</th>
            <th>Letter</th>
            <th>Semester</th>
            <th>Year</th>

        </tr>

        {% for s in grades%}
        <tr>
            <td>{{s.section_number}}</td>
            <td>{{s.course_id}}</td>
            <td>{{s.letter}}</td>
            <td>{{s.semester}}</td>
            <td>{{s.year}}</td>
        </tr>
        {% endfor %}
    </table>

<br>

<div>
    <form action="{{ url_for('student_dashboard') }}">
        <button type="submit" class="btn btn-primary">Home Page</button>
    </form>
</div>

</body>