<!DOCTYPE html>
<html>
<head>
    <title>Instructor Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }} (Instructor)</h1>
    <a href="/logout"><button>logout</button></a>
    <a href="instructor/avg_grades"><button>grade average</button></a>
    <a href="/instructor/class_avg"><button>class grade average</button></a>
    <a href="/instructor/class_comparison"><button>class comparison</button></a>
    <a href="/instructor/student_counts"><button>total students</button></a>
    <a href="/instructor/sections"><button>view sections</button></a>  
    <a href="/instructor"><button>modify personal info</button></a>  
</body>
</html>