<head>
    <title>Register for Classes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand active" href="#">Student Portal</a>
        </div>
        <ul class="nav navbar-nav">
            
            <li><a href="/student">Dashboard</a></li>
            <li class="active"><a href="/student/register">Register Classes</a></li>
            <li><a href="/student/register/class_list">Manage Classes</a></li>
            <li><a href="/student/register/final_grade">View Grades</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/student/profile" >
                    <span class="glyphicon glyphicon-user"></span> Modify Personal Info</a></li>
  </div>
</nav>

    <h1>Welcome, {{ session.username }} (Student)</h1>
    <h2>Available Sections</h2>

    {% if sections %}
        <ul>
        {% for s in sections %}
            <li>
                <strong>{{ s.course_id }} - {{ s.c_name }}</strong>
                ({{ s.semester }} {{ s.year }}) {{ s.days }} @ {{ s.time }}
                
                <form action="/student/register/submit" method="POST" style="display:inline;">
                    <input type="hidden" name="section_id" value="{{ s.section_number }}">
                    <button type="submit" class ="btn btn-success   ">Register</button> 
                </form>
            </li>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No available sections to register.</p>
    {% endif %}

    <br>

    <h1>Here are your current classes: <a href="/student/register/class_list">here</a> </h1> 
    

    <br>
    <form action="{{ url_for('logout') }}">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
