<head>
    <title>Edit Student Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
</head>

<h1>Edit Profile</h1>

<form action="/student/profile/update" method="POST">

    Email: <input type="text" name="email" value="{{ student.email }}"><br><br>

    House Number: <input type="text" name="house" value="{{ student.address_houseNumber }}"><br><br>

    Street: <input type="text" name="street" value="{{ student.address_street }}"><br><br>

    City: <input type="text" name="city" value="{{ student.address_city }}"><br><br>

    State: <input type="text" name="state" value="{{ student.address_state }}"><br><br>

    ZIP: <input type="text" name="zip" value="{{ student.address_zip }}"><br><br>

    <button class="btn btn-primary">Save Changes</button>
</form>


